<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Antecedentes Penales</ion-title>
    <ion-buttons right>
      <button ion-button (click)='openFacebookApp()'>
        <ion-icon name="logo-facebook"></ion-icon>
      </button>
      <button ion-button (click)='openTwitterApp()'>
        <ion-icon name="logo-twitter"></ion-icon>
      </button>
      <button ion-button (click)='openYoutubeApp()'>
        <ion-icon name="logo-youtube"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-card-content text-center>
    <ion-list>
      <ion-item>
        <ion-label floating>No. Boleta</ion-label>
        <ion-input type="number" pattern="[0-9]*" #NoBoleta></ion-input>
      </ion-item>
    </ion-list>
    <button ion-button (click)="getAntecedente(NoBoleta.value);">Buscar</button>
    <button ion-button secondary (click)="NoBoleta.value = '';">Limpiar</button>

    <!--<button ion-button secondary menuToggle>Toggle Menu</button>-->
    <ion-grid *ngIf="boleta.NUMERO != undefined">
      <ion-row>
        <ion-col col-6>
          <b>Fecha de Boleta:</b>
        </ion-col>
        <ion-col col-6>{{boleta.FECHA}}</ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-6>
          <b>Número de Boleta:</b>
        </ion-col>
        <ion-col col-6>{{boleta.NUMERO}}</ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-6>
          <b>Nombres:</b>
        </ion-col>
        <ion-col col-6>{{boleta.NOMBRES}}</ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-6>
          <b>Primer Apellido:</b>
        </ion-col>
        <ion-col col-6>{{boleta.PRIMERAPELLIDO}}</ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-6>
          <b>Segundo Apellido:</b>
        </ion-col>
        <ion-col col-6>{{boleta.SEGUNDOAPELLIDO}}</ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-6>
          <b>Doc. Personal:</b>
        </ion-col>
        <ion-col col-6>{{boleta.NUMERO_DOCUMENTO}}</ion-col>
      </ion-row>
    </ion-grid>
    <ion-grid *ngIf="boleta.result == 'Error'">
      <ion-row>
        <ion-col col-12>
          <b>{{boleta.msj}}</b>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card-content>
</ion-content>
<ion-footer text-center>
    <ion-toolbar>
      <small>
        {{home.slogan}}
        <br> {{home.direccion}}
        <br> {{home.telefono}} - {{home.url}}
      </small>
    </ion-toolbar>
  </ion-footer>