<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Pensión Alimenticia</ion-title>
    <ion-buttons right>
      <button ion-button (click)='openFacebookApp()'>
        <ion-icon name="logo-facebook"></ion-icon>
      </button>
      <button ion-button (click)='openTwitterApp()'>
        <ion-icon name="logo-twitter"></ion-icon>
      </button>
      <button ion-button (click)='openYoutubeApp()'>
        <ion-icon name="logo-youtube"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-card-content text-center>
    <ion-list>
      <ion-item>
        <ion-label floating>Número de Caso</ion-label>
        <ion-input type="number" pattern="[0-9]*" #caso></ion-input>
      </ion-item>

      <ion-item>
        <ion-label floating>Código</ion-label>
        <ion-input type="password" #pin></ion-input>
      </ion-item>
    </ion-list>
    <button ion-button (click)="getSaldoPension(caso.value, pin.value);">Buscar</button>
    <button ion-button secondary (click)="caso.value = ''; pin.value = ''">Limpiar</button>

    <!--<button ion-button secondary menuToggle>Toggle Menu</button>-->
    <ion-grid *ngIf="pension.status == 'OK'">
      <ion-row>
        <ion-col col-12 text-center>
          <b>{{pension.data[0].nombre}}</b>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-4 text-center>
          <b>Su saldo es:</b>
        </ion-col>
        <ion-col col-8 text-center>
          <h1>Q. {{pension.data[0].saldodisponible | number:'1.2-2'}}</h1>
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-grid *ngIf="pension.status == 'error'">
      <ion-row>
        <ion-col col-12 text-center>
          <b>{{pension.message}}</b>
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-grid *ngIf="!validPin">
      <ion-row text-center>
        <ion-col col-12 text-center>
          <b>El pin es incorrecto</b>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card-content>
</ion-content>
<ion-footer text-center>
    <ion-toolbar>
      <small>
        {{home.slogan}}
        <br> {{home.direccion}}
        <br> {{home.telefono}} - {{home.url}}
      </small>
    </ion-toolbar>
  </ion-footer>