<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Ubicación</ion-title>
    <!--<ion-buttons right>
      <button ion-button (click)='openFacebookApp()'>
        <ion-icon name="logo-facebook"></ion-icon>
      </button>
      <button ion-button (click)='openTwitterApp()'>
        <ion-icon name="logo-twitter"></ion-icon>
      </button>
      <button ion-button (click)='openYoutubeApp()'>
        <ion-icon name="logo-youtube"></ion-icon>
      </button>
    </ion-buttons>-->
  </ion-navbar>
</ion-header>
<ion-content padding>
  <!-- this creates a google map on the page with the given lat/lng from -->
  <!-- the component as the initial center of the map: -->
  <agm-map [latitude]="lat" [longitude]="lng" [zoom]="zoom" [disableDefaultUI]="false" [zoomControl]="true">

    <agm-marker *ngFor="let m of markers; let i = index" (markerClick)="clickedMarker(m.label, i)" [latitude]="m.lat" [longitude]="m.lng"
      [label]="m.label" [markerDraggable]="m.draggable" [iconUrl]="m.icon" (dragEnd)="markerDragEnd(m, $event)">
      <agm-info-window [maxWidth]="myWidth">
        <strong>{{m.title}}</strong>
        <br> {{m.description}}
        <br>
        <button ion-button color="secondary" small *ngIf="m.cantidadDependencias > 1" (click)="getDetailsEdificio(m);">
          <ion-icon name="eye"></ion-icon>
        </button>
        <button ion-button small (click)="goToDependencie(m)" *ngIf="m.title != 'Posicion Actual'">
          <!-- <ion-icon name="eye"></ion-icon> -->
          Contactar
        </button>
        <!-- <button ion-button small (click)="weGo(m)" *ngIf="m.title != 'Posicion Actual'">
          Guíame
        </button> -->
      </agm-info-window>
    </agm-marker>

    <!--<agm-circle [latitude]="lat + 0.3" [longitude]="lng"
        [radius]="5000"
        [fillColor]="'red'"
        [circleDraggable]="true"
        [editable]="true">
    </agm-circle>-->
    <agm-direction *ngIf="dir" [origin]="dir.origin" [destination]="dir.destination"></agm-direction>
  </agm-map>
</ion-content>
<ion-footer text-center>
    <ion-toolbar>
      <small>
        {{home.slogan}}
        <br> {{home.direccion}}
        <br> {{home.telefono}} - {{home.url}}
      </small>
    </ion-toolbar>
  </ion-footer>