<ion-header>
  <ion-navbar>
    <ion-buttons left *ngIf="showMenu">
      <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title text-center>
      Bienvenidos
      <!--<img alt="logo" height="80" src='assets/imgs/escudo.png'>-->
    </ion-title>
    <!--<ion-buttons right>
      <button ion-button (click)='openFacebookApp()'>
        <ion-icon name="logo-facebook"></ion-icon>
      </button>
      <button ion-button (click)='openTwitterApp()'>
        <ion-icon name="logo-twitter"></ion-icon>
      </button>
      <button ion-button (click)='openYoutubeApp()'>
        <ion-icon name="logo-youtube"></ion-icon>
      </button>
    </ion-buttons>-->
  </ion-navbar>
</ion-header>

<ion-content padding>
  <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
  <br><br>
  <ion-grid>
      <ion-row>
        <button ion-button block (click)="changeToContacto()" icon-only color="primary" button-sm small>
            Iniciar con Facebook
          </button>
        </ion-row> 
    <ion-row>
        <button ion-button block (click)="changeToContacto()" icon-only color="danger" button-sm small>
            Iniciar con Google
          </button>
      </ion-row>
    <!--<ion-row>
      <ion-col col-6 text-center>
        <ion-img text-center (click)="changeToDirectorio()" src="assets/imgs/03directorioAzulST.png">
        </ion-img>
        <br> <b>Directorio de Dependencias</b>
      </ion-col>
      <ion-col col-6 text-center>
        <ion-img text-center (click)="changeToAntecedentes()" src='assets/imgs/02unapAzulST.png'>
        </ion-img>
        <br> <b>Consulta de Boleta de Antecedentes Penales</b>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-6 text-center>
        <ion-img text-center (click)="changeToPension()" src="assets/imgs/01pensionAzulST.png">
        </ion-img>
        <br> <b>Consulta de Saldo de Pensión Alimenticia</b>
      </ion-col>
      <ion-col col-6 text-center>
        <ion-img text-center (click)="changeToAmparos()" src="assets/imgs/04amparosAzulST.png">
        </ion-img>
        <br> <b>Consulta de Amparos</b>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-6 text-center>
        <ion-img text-center (click)="changeToAntejuicios()" src="assets/imgs/05AntejuiciosAzulST.png">
        </ion-img>
        <br> <b>Consulta de Antejuicios</b>
      </ion-col>
      <ion-col col-6 text-center>
        <ion-img text-center (click)="changeToAudiencias()" src="assets/imgs/06audienciasAzulST.png">
        </ion-img>
        <br> <b>Consulta de Audiencias</b>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-6 text-center>
        <ion-img text-center (click)="changeToCAPEHome()" src='assets/imgs/02unapAzulST.png'>
        </ion-img>
        <br>
        CAPE
      </ion-col>
    </ion-row>
    <ion-row>
      <button ion-button full small (click)="changeToContacto()">DENUNCIAS O QUEJAS</button>
    </ion-row>
    <div text-center>{{home.texto}}</div>-->
  </ion-grid>
</ion-content>
<ion-footer text-center>
  <ion-toolbar>
    <!-- <small>
      {{home.slogan}}
      <br> {{home.direccion}}
      <br> {{home.telefono}} - {{home.url}}
    </small> -->
  </ion-toolbar>
</ion-footer>