<!--
  Generated template for the ContactoPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      Menú Principal
    </ion-title>
    <!-- <ion-buttons right>
      <button ion-button (click)='openFacebookApp()'>
        <ion-icon name="logo-facebook"></ion-icon>
      </button>
      <button ion-button (click)='openTwitterApp()'>
        <ion-icon name="logo-twitter"></ion-icon>
      </button>
      <button ion-button (click)='openYoutubeApp()'>
        <ion-icon name="logo-youtube"></ion-icon>
      </button>
    </ion-buttons> -->
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-card >
    <ion-card-content>
      <ion-card-title text-center>
        Servicios
      </ion-card-title>
    </ion-card-content>
    <hr>
    <ion-item>
      <ion-icon name='phone-portrait' item-start style="color: #55acee"></ion-icon>
      <button ion-button block (click)="callThemPBX()" icon-only color="secondary" button-sm small>
        Mecánico
        </button>
    </ion-item>
    <hr>
    <ion-item>
      <ion-icon name='phone-portrait' item-start style="color: #55acee"></ion-icon>
      <button ion-button block (click)="callThemPBX()" icon-only color="secondary" button-sm small>
          Doctor
        </button>
      <!--<ion-badge item-end>260k</ion-badge>-->
    </ion-item>
    <hr>
    <ion-item>
        <ion-icon name='phone-portrait' item-start style="color: #55acee"></ion-icon>
        <button ion-button block (click)="callThemPBX()" icon-only color="secondary" button-sm small>
            Carpintero
          </button>
        <!--<ion-badge item-end>260k</ion-badge>-->
      </ion-item>
      <hr>
      <ion-item>
          <ion-icon name='phone-portrait' item-start style="color: #55acee"></ion-icon>
          <button ion-button block (click)="callThemPBX()" icon-only color="secondary" button-sm small>
              Electricista
            </button>
          <!--<ion-badge item-end>260k</ion-badge>-->
        </ion-item>
        <ion-item>
            <ion-icon name='phone-portrait' item-start style="color: #55acee"></ion-icon>
            <button ion-button block (click)="callThemPBX()" icon-only color="secondary" button-sm small>
                Limpieza
              </button>
            <!--<ion-badge item-end>260k</ion-badge>-->
          </ion-item>
          <ion-item>
              <ion-icon name='phone-portrait' item-start style="color: #55acee"></ion-icon>
              <button ion-button block (click)="callThemPBX()" icon-only color="secondary" button-sm small>
                  Plomeria
                </button>
              <!--<ion-badge item-end>260k</ion-badge>-->
            </ion-item>
            <ion-item>
                <ion-icon name='phone-portrait' item-start style="color: #55acee"></ion-icon>
                <button ion-button block (click)="callThemPBX()" icon-only color="secondary" button-sm small>
                    Albañil
                  </button>
                <!--<ion-badge item-end>260k</ion-badge>-->
              </ion-item>
              <ion-item>
                  <ion-icon name='phone-portrait' item-start style="color: #55acee"></ion-icon>
                  <button ion-button block (click)="callThemPBX()" icon-only color="secondary" button-sm small>
                      Niñeras
                    </button>
                  <!--<ion-badge item-end>260k</ion-badge>-->
                </ion-item>
  </ion-card>
</ion-content>

<ion-footer text-center>
    <ion-toolbar>
      <!-- <small>
        {{home.slogan}}
        <br> {{home.direccion}}
        <br> {{home.telefono}} - {{home.url}}
      </small> -->
    </ion-toolbar>
  </ion-footer>