<ng-template #modalContent let-close="close">
  <div class="modal-header">
    <h5 class="modal-title">Event action occurred</h5>
    <button type="button" class="close" (click)="close()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div>
      Action:
      <pre>{{ modalData?.action }}</pre>
    </div>
    <div>
      Event:
      <pre>{{ modalData?.event | json }}</pre>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-secondary" (click)="close()">OK</button>
  </div>
</ng-template>
<ion-grid>
  <ion-row>
    <ion-col text-center col-7>
      <button ion-button small
      (click)="view = 'month'" 
      [class.active]="view === 'month'">Mes</button>
      <button ion-button small color="secondary"
      (click)="view = 'week'" 
      [class.active]="view === 'week'">Sem</button>
      <button ion-button small color="dark"
      (click)="view = 'day'" 
      [class.active]="view === 'day'">Día</button>
    </ion-col>
    <ion-col text-center col-5>
        <button ion-button icon-only small
        mwlCalendarPreviousView
        [view]="view" 
        [(viewDate)]="viewDate" 
        (viewDateChange)="activeDayIsOpen = false"
        (click)="getAudiencias()">
          <ion-icon name="arrow-back"></ion-icon>
        </button>
        <button ion-button icon-only small  
        mwlCalendarToday [(viewDate)]="viewDate"
        (click)="getAudiencias()">
          <ion-icon name="arrow-down"></ion-icon>
        </button>
        <button ion-button icon-only small
        mwlCalendarNextView 
        [view]="view" 
        [(viewDate)]="viewDate" 
        (viewDateChange)="activeDayIsOpen = false"
        (click)="getAudiencias()">
          <ion-icon name="arrow-forward"></ion-icon>
        </button>
      </ion-col>
  </ion-row>
  <ion-row>
      <ion-col text-center>
        <h3>{{ viewDate | calendarDate:(view + 'ViewTitle'):'es-GT' }}</h3>
      </ion-col>
    </ion-row>
</ion-grid>
<div [ngSwitch]="view">
  <mwl-calendar-month-view 
    *ngSwitchCase="'month'" 
    [viewDate]="viewDate" 
    [events]="events" 
    [locale]="locale" 
    [refresh]="refresh"
    [activeDayIsOpen]="activeDayIsOpen" 
    (dayClicked)="dayClicked($event.day)" 
    (eventClicked)="handleEvent('Clicked', $event.event)"
    (eventTimesChanged)="eventTimesChanged($event)">
  </mwl-calendar-month-view>
  <!--<iq-calendar-week-hours-view 
    *ngSwitchCase="'week'" 
    [viewDate]="viewDate" 
    [locale]="locale" 
    [events]="events" 
    [hourSegments]="2" 
    [dayStartHour]="8"
    [dayEndHour]="20" 
    (eventClicked)="eventClicked($event)" 
    (hourSegmentClicked)="hourSegmentClicked($event)" 
    (eventTimesChanged)="eventTimesChanged($event)"
    [refresh]="refresh">
  </iq-calendar-week-hours-view>-->

  <mwl-calendar-week-view
      *ngSwitchCase="'week'"
      [locale]="locale"
      [viewDate]="viewDate"
      [events]="events"
      [refresh]="refresh"
      (eventClicked)="handleEvent('Clicked', $event.event)"
      (eventTimesChanged)="eventTimesChanged($event)">
    </mwl-calendar-week-view>

    <mwl-calendar-day-view 
      *ngSwitchCase="'day'" 
      [locale]="locale" 
      [viewDate]="viewDate" 
      [events]="events" 
      [refresh]="refresh"
    (eventClicked)="handleEvent('Clicked', $event.event)" 
    (eventTimesChanged)="eventTimesChanged($event)"
    [hourSegments]="1">
  </mwl-calendar-day-view>
</div>

<!--<br><br><br>
  
  <h3>
    Edit events
    <button
      class="btn btn-primary pull-right"
      (click)="addEvent()">
      Add new
    </button>
    <div class="clearfix"></div>
  </h3>
  
  <table class="table table-bordered">
  
    <thead>
      <tr>
        <th>Title</th>
        <th>Primary color</th>
        <th>Secondary color</th>
        <th>Starts at</th>
        <th>Ends at</th>
        <th>Remove</th>
      </tr>
    </thead>
  
    <tbody>
      <tr *ngFor="let event of events; let index = index">
        <td>
          <input
            type="text"
            class="form-control"
            [(ngModel)]="event.title"
            (keyup)="refresh.next()">
        </td>
        <td>
          <input
            type="color"
            [(ngModel)]="event.color.primary"
            (change)="refresh.next()">
        </td>
        <td>
          <input
            type="color"
            [(ngModel)]="event.color.secondary"
            (change)="refresh.next()">
        </td>
        <td>
          <mwl-demo-utils-date-time-picker
            [(ngModel)]="event.start"
            (ngModelChange)="refresh.next()"
            placeholder="Not set">
          </mwl-demo-utils-date-time-picker>
        </td>
        <td>
          <mwl-demo-utils-date-time-picker
            [(ngModel)]="event.end"
            (ngModelChange)="refresh.next()"
            placeholder="Not set">
          </mwl-demo-utils-date-time-picker>
        </td>
        <td>
          <button
            class="btn btn-danger"
            (click)="events.splice(index, 1); refresh.next()">
            Delete
          </button>
        </td>
      </tr>
    </tbody>
  
  </table>-->