<ion-header>
</ion-header>
<ion-content no-bounce>
    <ion-row>
        <ion-col col-12 text-center>
            <b>ACTUACIONES: {{countActuaciones()}}</b>
        </ion-col>
    </ion-row>
    <ion-list *ngFor="let item of actuaciones" inset>
        <b>FECHA: </b>{{item.FECHA}}
        <br>
        <b>ACTUACIÓN: </b>{{item.ACTUACION}}
    </ion-list>
</ion-content>
<ion-footer text-center>
</ion-footer>