<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Amparos</ion-title>
    <ion-buttons right>
      <button ion-button (click)='openFacebookApp()'>
        <ion-icon name="logo-facebook"></ion-icon>
      </button>
      <button ion-button (click)='openTwitterApp()'>
        <ion-icon name="logo-twitter"></ion-icon>
      </button>
      <button ion-button (click)='openYoutubeApp()'>
        <ion-icon name="logo-youtube"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-card>
    <ion-card-content text-center>
      <ion-list>
        <ion-item>
          <ion-label floating>Ingrese el año</ion-label>
          <ion-input type="number" pattern="[0-9]*" #anio></ion-input>
        </ion-item>

        <ion-item>
          <ion-label floating>Número de amparo</ion-label>
          <ion-input type="number" pattern="[0-9]*" #amparo></ion-input>
        </ion-item>
      </ion-list>
      <br>
      <button ion-button (click)="getAmparo(anio.value, amparo.value);">Buscar</button>
      <button ion-button (click)="anio.value = ''; amparo.value = ''">Limpiar</button>
      <br>
      <br>
      <ion-grid *ngIf="showData">
        <ion-row>
          <ion-col col-6>Autoridad Impugnada</ion-col>
          <ion-col col-6>
            <b>Congreso de la república</b>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-6>Amparista</ion-col>
          <ion-col col-6>
            <b>Estado de Guatemala através de la PDH</b>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-6>Otorgado o denegado provisionalmente</ion-col>
          <ion-col col-6>
            <b>Otorgado provisionalmente</b>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>
</ion-content>
<ion-footer text-center>
    <ion-toolbar>
      <small>
        {{home.slogan}}
        <br> {{home.direccion}}
        <br> {{home.telefono}} - {{home.url}}
      </small>
    </ion-toolbar>
  </ion-footer>