<ion-header>
    <ion-navbar>
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>
            Amparo
        </ion-title>
    </ion-navbar>
</ion-header>
<ion-content>
    <ion-tabs>
        <ion-tab [root]="tab1Root" [rootParams]="amparo" tabTitle="Información General"></ion-tab>
        <ion-tab [root]="tab2Root" [rootParams]="amparo" tabTitle="Actuaciones"></ion-tab>
        <ion-tab [root]="tab3Root" [rootParams]="amparo" tabTitle="Terceros Interesados"></ion-tab>
    </ion-tabs>
</ion-content>
<ion-footer text-center>
    <ion-toolbar>
        <small>
            Por una justicia accesible, transparente, pronta y cumplida.
            <br> 21 Calle 7-70 Zona 1. Centro Civico, Guatemala, Guatemala
            <br> PBX: 2290-4444 - www.oj.gob.gt
        </small>
    </ion-toolbar>
</ion-footer>