<ion-header>
</ion-header>
<ion-content no-bounce>
    <ion-row>
        <ion-col col-12 text-center>
            <b>INFORMACION GENERAL</b>
        </ion-col>
    </ion-row>
    <ion-grid>
        <ion-row>
            <ion-col col-12 well>
                <b>Año: </b>{{informacionGeneral[0].ANIO}}
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col col-12>
                <b>Número de amparo: </b>{{informacionGeneral[0].NOAMPARO}}
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col col-12>
                <b>Oficial: </b>{{informacionGeneral[0].OFICIAL}}
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col col-12>
                <b>Fecha de admisión: </b>{{informacionGeneral[0].FECHAADMISION}}
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col col-12>
                <b>Autoridad Impugnada: </b> {{informacionGeneral[0].AUTORIDAD}}
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col col-12>
                <b>Amparista: </b> {{informacionGeneral[0].AMPARISTA}}
            </ion-col>
        </ion-row>
        <ion-row *ngIf="informacionGeneral[0].OTORGADOS_PROVISIONALMENTE == 1">
            <ion-col col-12>
                <b>Otorgado Provisionalmente</b>
            </ion-col>
        </ion-row>
        <ion-row *ngIf="informacionGeneral[0].DENEGADOS_PROVISIONALMENTE == 1">
            <ion-col col-12>
                <b>Denegado Provisionalmente</b>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col col-12>
                <b>Acto reclamado: </b>{{informacionGeneral[0].ACTO_RECLAMADO}}
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>
<ion-footer text-center>
</ion-footer>