<ion-header>
</ion-header>
<ion-content no-bounce>
    <ion-row>
        <ion-col col-12 text-center>
                <b>TERCEROS INTERESADOS: {{countTercerosInteresados()}}</b>
        </ion-col>
    </ion-row>
    <ion-list *ngFor="let item of tercerosInteresados" inset>
        {{item.NOMBRE}}
    </ion-list>
</ion-content>
<ion-footer text-center>
</ion-footer>