<ion-header>
    <ion-toolbar>
      <ion-title>
        Descripción
      </ion-title>
      <ion-buttons start>
        <button ion-button (click)="dismiss()">
          <span ion-text color="primary" showWhen="ios">Cancel</span>
          <ion-icon name="md-close" showWhen="android, windows"></ion-icon>
        </button>
      </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content>
  <ion-list>
      <!-- Button item with an icon on the left -->
      <button ion-item *ngFor="let item of edificios" (click)="goToDependencie(item)">
        <img src="assets/imgs/{{item.ICONO}}">
        <!--<ion-icon name="star" item-start></ion-icon>-->
        {{item.NOMBRE_DEPENDENCIA}}
      </button>   
    </ion-list>
</ion-content>