/*Splash.splash {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 999;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #ffffff;
  }

  .spinner {
    position: fixed;
    overflow: hidden;
    width: 75vw;
    height: 75vw;
    background: url(../assets/imgs/splash.png);
    background-size: 100% 100%;

    webkit-animation-name: spinner;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-duration: 2s;
    animation-name: spinner;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-duration: 2s;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transform-style: preserve-3d;
  }

  @-webkit-keyframes spinner {
    from
    {
      -webkit-transform: rotateY(0deg);
    }
    to {
      -webkit-transform: rotateY(-360deg);
    }
  }

  @keyframes spinner {
     from {
      -moz-transform: rotateY(0deg);
      -ms-transform: rotateY(0deg);
      transform: rotateY(0deg);
     }
     to
     {
      -moz-transform: rotateY(-360deg);
      -ms-transform: rotateY(-360deg);
      transform: rotateY(-360deg);

     }
  }
*/
ion-content{
    background-image:url('../assets/imgs/fondo.png');
    background-repeat: no-repeat;
    background-size:100% 70%;
}
ion-footer{
  color:  	#FFFFFF;
}
.toolbar .searchbar-ios .searchbar-input {
  background:#FFFFFF;
}
page-qr-scanner {
  ion-content {
     background: transparent !important;
  }
}