<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      Directorio de Juzgados
    </ion-title>
    <ion-buttons right>
      <button ion-button (click)='openFacebookApp()'>
        <ion-icon name="logo-facebook"></ion-icon>
      </button>
      <button ion-button (click)='openTwitterApp()'>
        <ion-icon name="logo-twitter"></ion-icon>
      </button>
      <button ion-button (click)='openYoutubeApp()'>
        <ion-icon name="logo-youtube"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content>
  <!--<ion-item>
    <ion-label>Departamento</ion-label>
    <ion-select [(ngModel)]="idDepartamento" interface="popover">
      <ion-option value="f">Female</ion-option>
      <ion-option value="m">Male</ion-option>
    </ion-select>
  </ion-item>
  <ion-item>
    <ion-label>Municipio</ion-label>
    <ion-select [(ngModel)]="idMunicipio" interface="popover">
      <ion-option value="f">Female</ion-option>
      <ion-option value="m">Male</ion-option>
    </ion-select>
  </ion-item>-->
  <ion-searchbar [(ngModel)]="searchTerm" (ionInput)="setFilteredItems()"></ion-searchbar>
  <ion-list>
    <ion-item *ngFor="let item of filtroDirectorio" (click)="goDetailsJdo(item)" text-wrap>
      {{item.NOMBRE_DEPENDENCIA}}
    </ion-item>
  </ion-list>
</ion-content>
<ion-footer text-center>
  <ion-toolbar>
    <small>
      Por una justicia accesible, transparente, pronta y cumplida.
      <br> 21 Calle 7-70 Zona 1. Centro Civico, Guatemala, Guatemala
      <br> PBX: 2290-4444 - www.oj.gob.gt
    </small>
  </ion-toolbar>
</ion-footer>