<ion-header>
  <ion-navbar>
    <ion-title>
      <img alt="logo" height="40" src='assets/imgs/escudo.png'>
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <form name="formValidar">
    <ion-row>
      <div >
        <div >
          <h4>Informacion General de Carencia de Antecedentes Penales</h4>
        </div>
      </div>
    </ion-row>
      <div >
        <ion-col>
          <label for="Correlativo"> Correlativo: </label>
          <p><b>{{consultaCarencia.CORRELATIVO}}</b></p>
        </ion-col>
        <ion-col>
          <label for="Correlativo"> Nombre Completo: </label>
          <p><b>{{consultaCarencia.NOMBRE_COMPLETO}}</b></p>
        </ion-col>
        <ion-col>
          <label for="Correlativo"> Vigencia: </label>
          <p><b>{{consultaCarencia.VIGENCIA}}</b></p>
        </ion-col>
        <ion-col>
          <label for="Verificaciones"> Numero Verificaciones Realizadas: </label>
          <p><b>{{consultaCarencia.NUMERO_VERIFICACIONES}}</b></p>
        </ion-col>
        <ion-col *ngIf="VERIFICACIONREALIZADA==true">
          <label for="FECHA_CREACION">Fecha Registro: </label>
          <p><b>{{consultaCarencia.FECHA_CREACION}}</b></p>
        </ion-col>
        <ion-col *ngIf="VERIFICACIONREALIZADA==true">
          <label for="FIRMA_INTERNA"> Hash: </label>
          <p><b>{{consultaCarencia.FIRMA_INTERNA}}</b></p>
        </ion-col>
        <ion-col *ngIf="VERIFICACIONREALIZADA==true">
          <h3 style="color:red;">NO LE APARECEN ANTECEDENTES PENALES. </h3>
        </ion-col>
        <ion-col *ngIf="LIMITE==true">
          <h3 style="color:red;" >LIMITE DE VERIFICACIONES ALCANZADO. </h3>
        </ion-col>
        <ion-col *ngIf="VENCIDA==true">
          <h3 style="color:red;  text-center" >ESTA CONSTANCIA YA SE ENCUENTRA VENCIDA. </h3>
        </ion-col>
        <!--<div class="button-group text-center  col-xs-10">
            <button class="btn btn-warning btn-lg" ui-sref="raiz.login">Regresar &nbsp&nbsp<i class="fa fa-mail-reply"></button>
        </div>
         <div class="pull-left hidden-xs">
          <strong></strong>Version: {{versionRaiz}}</strong>
        </div> -->
      </div>
  </form>
  


  <!-- <form name="formValidar" class="verificacion-form box-shadow animated  ok-password" ng-class="{'shake': formSeguimiento.$submitted && response.err}" novalidate>
    <div>
      <div class="panel panel-primary">
        <div class="panel-heading text-center">
          <h4>Informacion General de Carencia de Antecedentes Penales</b> </b></h4>
        </div>
      </div>
    </div>
      <div class="box-body">
        <div class="form-group col-xs-4 text-left">
          <label class="control-label  gray-text" for="Correlativo"><i class="fa fa-institution"></i> Correlativo: </label>
          <p class="lead " ><b>{{consultaCarencia.CORRELATIVO}}</b></p>
        </div>
        <div class="form-group col-xs-8  text-left">
          <label class="control-label  gray-text" for="Correlativo"><i class="fa fa-user"></i> Nombre Completo: </label>
          <p class="lead"  ><b>{{consultaCarencia.NOMBRE_COMPLETO}}</b></p>
        </div>
        <div class="form-group col-xs-4  text-left">
          <label class="control-label  gray-text" for="Correlativo"><i class="fa fa-calendar-times-o"></i> Vigencia: </label>
          <p class="lead"  ><b>{{consultaCarencia.VIGENCIA}}</b></p>
        </div>
        <div class="form-group col-xs-8  text-left">
          <label class="control-label gray-text" for="Verificaciones"><i class="fa fa-hourglass"></i> Numero Verificaciones Realizadas: </label>
          <p class="lead"  ><b>{{consultaCarencia.NUMERO_VERIFICACIONES}}</b></p>
        </div>
        <div class="form-group col-xs-4" ng-if="VERIFICACIONREALIZADA==true">
          <label class="control-label  gray-text" for="FECHA_CREACION"><i class="fa fa-calendar-times-o"></i> Fecha Registro: </label>
          <p class="lead"  ><b>{{consultaCarencia.FECHA_CREACION}}</b></p>
        </div>
        <div class="form-group col-xs-8" ng-if="VERIFICACIONREALIZADA==true">
          <label class="control-label  gray-text" for="FIRMA_INTERNA"><i class="fa fa-hashtag"></i> Hash: </label>
          <p class="lead"  ><b>{{consultaCarencia.FIRMA_INTERNA}}</b></p>
        </div>
        <div class="form-group col-xs-12 text-center" ng-if="VERIFICACIONREALIZADA==true">
          <h3 style="color:red;">NO LE APARECEN ANTECEDENTES PENALES. </h3>
        </div>
        <div class="form-group col-xs-12  text-center" ng-if="LIMITE==true">
          <h3 style="color:red;" >LIMITE DE VERIFICACIONES ALCANZADO. </h3>
        </div>
        <div class="form-group col-xs-12" ng-if="VENCIDA==true">
          <h3 style="color:red;  text-center" >ESTA CONSTANCIA YA SE ENCUENTRA VENCIDA. </h3>
        </div>
        </br>
        <div class="button-group text-center  col-xs-10">
            <button class="btn btn-warning btn-lg" ui-sref="raiz.login">Regresar &nbsp&nbsp<i class="fa fa-mail-reply"></button>
        </div>
      </div>
  </form> -->

</ion-content>

<ion-footer text-center>
  <ion-toolbar>
    <small>
      Por una justicia accesible, transparente, pronta y cumplida.
      <br> 21 Calle 7-70 Zona 1. Centro Civico, Guatemala, Guatemala
      <br> PBX: 2290-4444 - www.oj.gob.gt
    </small>
  </ion-toolbar>
</ion-footer>