<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      <img alt="logo" height="40" src='assets/imgs/escudo.png'>
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div text-center>
    <b>RECIBO INVALIDO</b>
  </div>
  <br>
  <form [formGroup]="myForm" (ngSubmit)="sendIssue()">
    <ion-list>
      <ion-item>
        <ion-icon name="person" item-start></ion-icon>
        <ion-label stacked>CUI:</ion-label>
        <ion-input [(ngModel)]="invalidRecipt.CUI" formControlName="cui" type="number"></ion-input>
      </ion-item>
      <ion-item>
        <ion-icon name="calendar" item-start></ion-icon>
        <ion-label stacked>INGRESE SU FECHA DE NACIMIENTO:</ion-label>
        <ion-datetime [(ngModel)]="invalidRecipt.FECHA_NACIMIENTO" formControlName="dateBorn" displayFormat="DD-MM-YYYY"></ion-datetime>
      </ion-item>
      <ion-item>
        <ion-icon name="phone-portrait" item-start></ion-icon>
        <ion-label stacked>TELEFONO:</ion-label>
        <ion-input [(ngModel)]="invalidRecipt.TELEFONO" formControlName="tel" type="number"></ion-input>
      </ion-item>
      <ion-item>
        <ion-icon name="calendar" item-start></ion-icon>
        <ion-label stacked>INGRESE SU FECHA DE TRANSACCION:</ion-label>
        <ion-datetime [(ngModel)]="invalidRecipt.FECHA_TRANSACCION_BANCARIA" formControlName="dateTransaction" displayFormat="DD-MM-YYYY"></ion-datetime>
      </ion-item>
      <ion-item>
        <ion-label>SELECCIONE BANCO</ion-label>
        <ion-select [(ngModel)]="invalidRecipt.ABREVIATURA" formControlName="bank" interface="popover">
          <ion-option *ngFor="let item of entidades" [value]="item.ABREVIATURA">{{item.ABREVIATURA}} - {{item.ENTIDAD}}</ion-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-icon name="closed-captioning" item-start></ion-icon>
        <ion-label stacked>INGRESE SU NO. DE RECIBO:</ion-label>
        <ion-input [(ngModel)]="invalidRecipt.DOCUMENTO" formControlName="recibo" type="number"></ion-input>
      </ion-item>
    </ion-list>
    <div>
      <button ion-button block type="submit" [disabled]="!myForm.valid">Solicitar Carencia</button>
    </div>
  </form>
</ion-content>

<ion-footer text-center>
  <ion-toolbar>
    <small>
      Por una justicia accesible, transparente, pronta y cumplida.
      <br> 21 Calle 7-70 Zona 1. Centro Civico, Guatemala, Guatemala
      <br> PBX: 2290-4444
      <br> www.oj.gob.gt
    </small>
  </ion-toolbar>
</ion-footer>