<ion-header>
        <ion-navbar>
          <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
          </button>
          <ion-title>
            <img alt="logo" height="40" src='assets/imgs/escudo.png'>
          </ion-title>
          <!--<ion-img text-center src="assets/imgs/pension.png">
            </ion-img>-->
        </ion-navbar>
      </ion-header>
      
      <ion-content padding>

        
      </ion-content>
      <ion-footer text-center>
        <ion-toolbar>
          <small>
            {{home.slogan}}
            <br> {{home.direccion}}
            <br> {{home.telefono}} - {{home.url}}
          </small>
        </ion-toolbar>
      </ion-footer>