<ion-header>
    <ion-navbar>
      <ion-title>
        <img alt="logo" height="40" src='assets/imgs/escudo.png'>
      </ion-title>
    </ion-navbar>
  </ion-header>
  
  <ion-content padding>
  
    <div text-center>
      <b></b>
    </div>
    <br>
    <form [formGroup]="myForm" (ngSubmit)="getStatus()">
      <ion-list>
        <ion-item>
          <ion-icon name="person" item-start></ion-icon>
          <ion-label stacked>INGRESE SU NUMERO DE CUI:</ion-label>
          <ion-input [(ngModel)]="cape.CUI" formControlName="cui" type="number"></ion-input>
        </ion-item>
        <ion-item>
          <ion-icon name="calendar" item-start></ion-icon>
          <ion-label stacked>iNGRESE SU NUMERO DE SOLICITUD:</ion-label>
          <ion-input [(ngModel)]="cape.ID_SOLICITUD" formControlName="noSolicitud"></ion-input>
        </ion-item>
      </ion-list>
      <div>
        <button ion-button block type="submit" [disabled]="!myForm.valid">Localizar Solicitud</button>
      </div>
    </form>
  
  </ion-content>
  
  <ion-footer text-center>
    <ion-toolbar>
      <small>
        Por una justicia accesible, transparente, pronta y cumplida.
        <br> 21 Calle 7-70 Zona 1. Centro Civico, Guatemala, Guatemala
        <br> PBX: 2290-4444
        <br> www.oj.gob.gt
      </small>
    </ion-toolbar>
  </ion-footer>