<ion-header>
        <ion-navbar>
          <ion-title>
                Estado Actual: {{ESTADO_SISTEMA}}/12
          </ion-title>
        </ion-navbar>
      </ion-header>
      
      <ion-content padding text-center>
        <timeline>
          <timeline-item *ngFor="let event of events">
            <!-- <timeline-time [time]="item.time"></timeline-time> -->
            <ion-icon [name]="event.icon" [style.background-color]="event.style"></ion-icon>
            <ion-card [style.background-color]="event.style">
              <ion-card-header>
                  <div style="color:white;">
                        {{event.title}}
                  </div>
              </ion-card-header>
              <ion-card-content>
                {{event.content}}
              </ion-card-content>
            </ion-card>
          </timeline-item>
          <button ion-button icon-only *ngIf="ESTADO_SISTEMA==constantes.ESTADO_ENVIO" (click)="getAntecedente()">
                <ion-icon name="document" text-center ></ion-icon>
              </button>      
        </timeline>
      </ion-content>