<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      <img alt="logo" height="40" src='assets/imgs/escudo.png'>
    </ion-title>
    <!--<ion-img text-center src="assets/imgs/pension.png">
          </ion-img>-->
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div text-center>
    <b>SOLICITAR CARENCIA SIN REGISTRO</b>
  </div>
  <br>
  <form [formGroup]="myForm" (ngSubmit)="sendRequestWithout()">
    <ion-list>
      <ion-item>
        <ion-icon name="person" item-start></ion-icon>
        <ion-label stacked>INGRESE SU CUI:</ion-label>
        <ion-input [(ngModel)]="requestWithout.CUI" formControlName="dpi" type="number"></ion-input>
      </ion-item>
      <ion-item>
        <ion-icon name="calendar" item-start></ion-icon>
        <ion-label stacked>INGRESE SU FECHA DE NACIMIENTO:</ion-label>
        <ion-datetime [(ngModel)]="requestWithout.FECHA_NACIMIENTO" formControlName="dateBorn" displayFormat="DD-MM-YYYY"></ion-datetime>
      </ion-item>
      <ion-item>
        <ion-icon name="home" item-start></ion-icon>
        <ion-label>SELECCIONE BANCO</ion-label>
        <ion-select [(ngModel)]="requestWithout.ID_ENTIDAD" formControlName="bank" interface="popover">
          <ion-option *ngFor="let item of entidades" [value]="item.ID_ENTIDAD">{{item.ENTIDAD}}</ion-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-icon name="logo-angular" item-start></ion-icon>
        <ion-label>SELECCIONE SERIE</ion-label>
        <ion-select [(ngModel)]="requestWithout.ID_SERIE" formControlName="bank" interface="popover">
          <ion-option *ngFor="let item of series" [value]="item.ID_SERIE">{{item.SERIE}}</ion-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-icon name="closed-captioning" item-start></ion-icon>
        <ion-label stacked>INGRESE SU NO. DE RECIBO:</ion-label>
        <ion-input [(ngModel)]="requestWithout.DOCUMENTO" formControlName="recibo" type="number"></ion-input>
      </ion-item>
      <ion-item>
        <ion-icon name="calendar" item-start></ion-icon>
        <ion-label stacked>FECHA DE RECIBO:</ion-label>
        <ion-datetime [(ngModel)]="requestWithout.FECHA" formControlName="dateRecibo" displayFormat="DD-MM-YYYY"></ion-datetime>
      </ion-item>
    </ion-list>
    <div>
      <button ion-button block type="submit" [disabled]="!myForm.valid">Solicitar Carencia</button>
    </div>
  </form>
</ion-content>

<ion-footer text-center>
  <ion-toolbar>
    <small>
      Por una justicia accesible, transparente, pronta y cumplida.
      <br> 21 Calle 7-70 Zona 1. Centro Civico, Guatemala, Guatemala
      <br> PBX: 2290-4444
      <br> www.oj.gob.gt
    </small>
  </ion-toolbar>
</ion-footer>