<ion-header>
  <ion-navbar>
    <ion-title>
      <img alt="logo" height="40" src='assets/imgs/escudo.png'>
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <div text-center>
    <b>VALIDAR CAPE</b>
  </div>
  <br>
  <form [formGroup]="myForm" (ngSubmit)="validingCAPE()">
    <ion-list>
      <ion-item>
        <ion-icon name="list-box" item-start></ion-icon>
        <ion-label stacked>BOLETA ELECTRONICA:</ion-label>
        <ion-input [(ngModel)]="cape.BOLETA" formControlName="boleta"></ion-input>
      </ion-item>
      <ion-item>
        <ion-icon name="key" item-start></ion-icon>
        <ion-label stacked>LLave:</ion-label>
        <ion-input [(ngModel)]="cape.LLAVE" formControlName="llave" type="number"></ion-input>
      </ion-item>
    </ion-list>
    <div>
      <button ion-button block type="submit" [disabled]="!myForm.valid">Validar CAPE</button>
    </div>
  </form>

</ion-content>

<ion-footer text-center>
  <ion-toolbar>
    <small>
      Por una justicia accesible, transparente, pronta y cumplida.
      <br> 21 Calle 7-70 Zona 1. Centro Civico, Guatemala, Guatemala
      <br> PBX: 2290-4444
      <br> www.oj.gob.gt
    </small>
  </ion-toolbar>
</ion-footer>