<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Audiencias</ion-title>
    <ion-buttons right>
      <button ion-button (click)='openFacebookApp()'>
        <ion-icon name="logo-facebook"></ion-icon>
      </button>
      <button ion-button (click)='openTwitterApp()'>
        <ion-icon name="logo-twitter"></ion-icon>
      </button>
      <button ion-button (click)='openYoutubeApp()'>
        <ion-icon name="logo-youtube"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <form [formGroup]="myForm" (ngSubmit)="getAudiencias()">
    <ion-list>
      <ion-item>
        <ion-label>DEPARTAMENTO</ion-label>
        <ion-select interface="popover" formControlName="departamento" (ionChange)="changeDepartament()">
          <ion-option *ngFor="let item of departamentos" [value]="item.ID_UBICACION_GEOGRAFICA">{{item.NOMBRE}}</ion-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label>MUNICIPIO</ion-label>
        <ion-select interface="popover" formControlName="municipio" (ionChange)="changeMunicipio()">
          <ion-option *ngFor="let item of municipios" [value]="item.ID_UBICACION_GEOGRAFICA">{{item.NOMBRE}}</ion-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <!--<ion-label>DESPACHO</ion-label>
        <ion-select formControlName="despacho">
          <ion-option *ngFor="let item of despachos" [value]="item.ID_DESPACHO">{{item.DESPACHO}}</ion-option>
        </ion-select>-->
        <ion-label>DESPACHO</ion-label>
        <!-- (onChange)="portChange($event)" -->
        <select-searchable  
            item-content
            [(ngModel)]="despachoSelect"
            [items]="despachos"
            itemValueField="ID_DESPACHO"
            itemTextField="DESPACHO"
            [canSearch]="true"
            formControlName="despacho">
            <ng-template selectSearchableItemTemplate let-despachoSelect="item">
              <ion-item text-wrap>
                {{despachoSelect.DESPACHO}}
              </ion-item>
            </ng-template>
        </select-searchable>
      </ion-item>
      <ion-item>
        <ion-label>ESTADO</ion-label>
        <ion-select interface="popover" formControlName="estado">
          <ion-option *ngFor="let item of estados" [value]="item.ESTADO_AGENDA">{{item.ESTADO_AGENDA}}</ion-option>
        </ion-select>
      </ion-item>
    </ion-list>
    <div padding>
      <button ion-button block type="submit" [disabled]="!myForm.valid">Buscar</button>
    </div>
  </form>
  <!--<ion-calendar [(ngModel)]="date"
    (onChange)="onChange($event)"
    [type]="type"
    [format]="'YYYY-MM-DD'">
  </ion-calendar>-->
</ion-content>
<ion-footer text-center>
    <ion-toolbar>
      <small>
        {{home.slogan}}
        <br> {{home.direccion}}
        <br> {{home.telefono}} - {{home.url}}
      </small>
    </ion-toolbar>
  </ion-footer>