<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      {{ viewDate | calendarDate:(view + 'ViewTitle') }}
    </ion-title>
    <!--<ion-img text-center src="assets/imgs/pension.png">
    </ion-img>-->
  </ion-navbar>
</ion-header>

<ion-content>
  <mwl-demo-component>Loading...</mwl-demo-component>
  <!--<ion-row>
    <ion-col col-12 col-md-3>
      <ion-row>
        <ion-col col-3 no-padding>
          <button ion-button full clear icon-only mwlCalendarPreviousView [view]="view" [(viewDate)]="viewDate">
            <ion-icon name="ios-arrow-back"></ion-icon>
          </button>
        </ion-col>
        <ion-col col-6 no-padding>
          <button ion-button full clear mwlCalendarToday [(viewDate)]="viewDate">Today</button>
        </ion-col>
        <ion-col col-3 no-padding>
          <button ion-button full clear icon-only mwlCalendarNextView [view]="view" [(viewDate)]="viewDate">
            <ion-icon name="ios-arrow-forward"></ion-icon>
          </button>
        </ion-col>
      </ion-row>
    </ion-col>
  </ion-row>


  <iq-calendar-week-hours-view
  [viewDate]="viewDate"
  [events]="events"
  [hourSegments]="1"
  [dayStartHour]="8"
  [dayEndHour]="20"
  (eventClicked)="handleEvent($event.event)"
  (hourSegmentClicked)="hourSegmentClicked($event)"
  (eventTimesChanged)="eventTimesChanged($event)"
  [weekStartsOn]="1"
  [refresh]="refresh"
  [locale]="locale">
</iq-calendar-week-hours-view>-->
</ion-content>
<ion-footer text-center>
    <ion-toolbar>
      <small>
        {{home.slogan}}
        <br> {{home.direccion}}
        <br> {{home.telefono}} - {{home.url}}
      </small>
    </ion-toolbar>
  </ion-footer>