<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Antejuicios</ion-title>
    <ion-buttons right>
      <button ion-button (click)='openFacebookApp()'>
        <ion-icon name="logo-facebook"></ion-icon>
      </button>
      <button ion-button (click)='openTwitterApp()'>
        <ion-icon name="logo-twitter"></ion-icon>
      </button>
      <button ion-button (click)='openYoutubeApp()'>
        <ion-icon name="logo-youtube"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <form [formGroup]="myForm" (ngSubmit)="saveData()">
    <ion-list>
      <ion-item>
        <ion-icon name="person" item-start></ion-icon>
        <ion-label stacked>ANTEJUICIADO:</ion-label>
        <ion-input formControlName="AUTORIDAD_IMPUGNADA" type="text"></ion-input>
      </ion-item>
      <ion-item>
        <ion-icon name="person" item-start></ion-icon>
        <ion-label stacked>INTERPONENTE:</ion-label>
        <ion-input formControlName="INTERPONENTE" type="text"></ion-input>
      </ion-item>
      <ion-item>
        <ion-icon name="calendar" item-start></ion-icon>
        <ion-label stacked>AÑO:</ion-label>
        <ion-input formControlName="ANIO" type="text"></ion-input>
      </ion-item>
      <ion-item>
        <ion-icon name="person" item-start></ion-icon>
        <ion-label stacked>ANTEJUICIO:</ion-label>
        <ion-input formControlName="ANTEJUICIO" type="number"></ion-input>
      </ion-item>
      <ion-item>
        <ion-icon name="calendar" item-start></ion-icon>
        <ion-label stacked>FECHA INICIO:</ion-label>
        <ion-datetime formControlName="FECHA_INICIO" displayFormat="DD-MM-YYYY"></ion-datetime>
      </ion-item>
      <ion-item>
        <ion-icon name="calendar" item-start></ion-icon>
        <ion-label stacked>FECHA FIN:</ion-label>
        <ion-datetime formControlName="FECHA_FIN" displayFormat="DD-MM-YYYY"></ion-datetime>
      </ion-item>
      <ion-item>
        <ion-label>COMPETENCIA</ion-label>
        <ion-select formControlName="COMPETENCIA">
          <ion-option *ngFor="let item of competencias" [value]="item.AUTORIDAD_COMPETENTE">{{item.DESCRIPCION}}</ion-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label>FASE</ion-label>
        <ion-select formControlName="FASE_ENVIADA">
          <ion-option *ngFor="let item of fases" [value]="item.ANT_ID">{{item.ANT_DESCRIPCION}}</ion-option>
        </ion-select>
      </ion-item>
      <!--<div formGroupName="passwordRetry">
        <ion-item>
          <ion-icon name="eye" item-start></ion-icon>
          <ion-label stacked>Contraseña:</ion-label>
          <ion-input formControlName="password" type="password" placeholder="Contraseña"></ion-input>
        </ion-item>
        <ion-item>
          <ion-icon name="eye" item-start></ion-icon>
          <ion-label stacked>Confirmar contraseña:</ion-label>
          <ion-input formControlName="passwordConfirmation" type="password" placeholder="Confirmar contraseña"></ion-input>
        </ion-item>
      </div>
      <ion-row radio-group formControlName="gender">
        <ion-col>
          <ion-item>
            <ion-icon name="woman" item-start></ion-icon>
            <ion-label>Mujer</ion-label>
            <ion-radio value="2"></ion-radio>
          </ion-item>
        </ion-col>
        <ion-col>
          <ion-item>
            <ion-icon name="man" item-start></ion-icon>
            <ion-label>Hombre</ion-label>
            <ion-radio value="1"></ion-radio>
          </ion-item>
        </ion-col>
      </ion-row>-->
    </ion-list>
    <div padding>
      <button ion-button block type="submit" [disabled]="!myForm.valid">Buscar</button>
    </div>
  </form>
</ion-content>
<ion-footer text-center>
    <ion-toolbar>
      <small>
        {{home.slogan}}
        <br> {{home.direccion}}
        <br> {{home.telefono}} - {{home.url}}
      </small>
    </ion-toolbar>
  </ion-footer>