<ion-header>
    <ion-navbar>
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>Antejuicio</ion-title>
    </ion-navbar>
</ion-header>
<ion-content padding>

    <ion-scroll scrollY="true" style="height: 100%;" padding="false">
        <ion-slides pager="true" paginationType="progress">
            <ion-slide *ngFor="let item of antejuicios">
                
                <ion-grid style="height: auto;">
                    <ion-row>
                        <b>AÑO: </b>{{item.ANIO}}
                    </ion-row>
                    <ion-row>
                        <b>NO. ANTEJUICIO: </b>{{item.ANTEJUICIO}}
                    </ion-row>
                    <ion-row>
                        <b>ANTEJUICIADO: </b>{{item.AUTORIDAD_IMPUGNADA}}
                    </ion-row>
                    <ion-row>
                        <b>INTERPONENTE: </b>{{item.INTERPONENTE}}
                    </ion-row>
                    <ion-row>
                        <b>COMPETENCIA: </b>{{item.COMPETENCIA}}
                    </ion-row>
                    <ion-row>
                        <b>FASE: </b> {{item.FASE}}
                    </ion-row>
                    <ion-row>
                        <b>FECHA HORA RECIBIDO: </b> {{item.FECHA_HORA_RECIBIDO}}
                    </ion-row>
                </ion-grid>
            </ion-slide>
        </ion-slides>
    </ion-scroll>

</ion-content>
<ion-footer text-center>
    <ion-toolbar>
        <small>
            {{home.slogan}}
            <br> {{home.direccion}}
            <br> {{home.telefono}} - {{home.url}}
        </small>
    </ion-toolbar>
</ion-footer>