<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      Integración CSJ
    </ion-title>
    <ion-buttons right>
      <button ion-button (click)='openFacebookApp()'>
        <ion-icon name="logo-facebook"></ion-icon>
      </button>
      <button ion-button (click)='openTwitterApp()'>
        <ion-icon name="logo-twitter"></ion-icon>
      </button>
      <button ion-button (click)='openYoutubeApp()'>
        <ion-icon name="logo-youtube"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-tabs>
    <ion-tab [root]="tab1Root" [rootParams]="amparo" tabTitle="CSJ"></ion-tab>
    <ion-tab [root]="tab2Root" [rootParams]="amparo" tabTitle="Cámara Penal"></ion-tab>
    <ion-tab [root]="tab3Root" [rootParams]="amparo" tabTitle="Cámara Civil"></ion-tab>
    <ion-tab [root]="tab4Root" [rootParams]="amparo" tabTitle="Amparos y Antejuicios"></ion-tab>
  </ion-tabs>
  <!--<ion-slides pager>
          <ion-slide text-center *ngFor="let item of integracionCSJ">
            <img width='100%' height='100%' src="assets/imgs/{{item.img}}">
            <br>
              {{item.detail}}
            <br>
            {{item.name}}
            <br>
            {{item.function}}
          </ion-slide>
      </ion-slides>-->
</ion-content>
<ion-footer text-center>
    <ion-toolbar>
      <small>
        {{home.slogan}}
        <br> {{home.direccion}}
        <br> {{home.telefono}} - {{home.url}}
      </small>
    </ion-toolbar>
  </ion-footer>