<ion-header>
</ion-header>
<ion-content no-bounce>
    <ion-slides pager="true" paginationType="progress">
        <ion-slide text-center *ngFor="let item of integracionCamaraPenalOrder">
            <img width='100%' height='100%' src="{{item.fotografia}}">
            <!--<br>{{item.detail}}-->
            <small *ngIf="item.presidente == 0">{{item.observaciones}}</small>
            <br> <small>{{item.nombre}}</small>
            <br> <small>{{item.funcion}}</small>
            <br> <small *ngIf="item.presidente == 1">Presidente</small>
        </ion-slide>
    </ion-slides>
</ion-content>
<ion-footer text-center>
</ion-footer>