<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      Dependencia
    </ion-title>
    <!--<ion-img text-center src="assets/imgs/pension.png">
    </ion-img>-->
  </ion-navbar>
</ion-header>
<ion-content>
  <br>
  <div text-center>
    <img width='50%' height='50%' src="assets/imgs/{{dependencyImg}}">
    <h2>{{dependencyName}}</h2>
    <h3>{{dependencyAddress}}</h3>
    <h4>Tel. {{dependencyPhoneFull}}</h4>
  </div>

  <ion-buttons>
    <button ion-button block (click)="leadMe()">
      <ion-icon name="jet"></ion-icon>
      Guíame...
    </button>
    <button ion-button block (click)="callThem()" icon-only color="secondary">
      <ion-icon name="call"></ion-icon>
    </button>
  </ion-buttons>
</ion-content>
<ion-footer text-center>
    <ion-toolbar>
      <small>
        {{home.slogan}}
        <br> {{home.direccion}}
        <br> {{home.telefono}} - {{home.url}}
      </small>
    </ion-toolbar>
  </ion-footer>